@import "../../_globalColor";

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  border-left: 4px solid $buttonColor;
  padding-left: 0.6rem;
}

#achievements {
  background-color: $lightBackground4;
  border-radius: 16px;
}

#achievements.dark-mode,
.dark-mode #achievements {
  background-color: #1d2236;
}
.achievement-subtitle {
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
